<section id="section-contact">
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="contact__h1 contact__h1--font"><span class="contact__h1--colorGreen">CONTATO</span></h1>
                </div>
            
                <div class="col-sm-6">
                    <%= form_tag('/send_email') do %>
                        <%= text_field_tag(:name, "", class: "form-control contact__input", placeholder: "Nome", :required => true) %>
                        <%= text_field_tag(:phone, "", class: "form-control contact__input", placeholder: "Telefone", :required => true, pattern: '\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$', onkeyup:'mascara(this, mtel);') %>
                        <%= text_field_tag(:email, "", class: "form-control contact__input", placeholder: "E-mail", :required => true) %>
                        <%= text_area_tag(:message, "", class: "form-control contact__input textarea", placeholder: "Mensagem", :required => true) %>
                        <div class="contact__submit--position">
                            <%= submit_tag("ENVIAR", class: "btn btn-primary contact__submit") %>
                        </div>
                    <% end %>
                </div>
                
                <div class="col-sm-6">
                    <h3 class="contact__h3 contact__h3--colorGreen">Endereço</h3>
                    <p class="contact__p">Av. das Castanheiras, S/N - Lote 3700 - Águas Claras, Brasília - DF, 70297-400<br> Centro Universitário Euro-Americano</p>
                    <h3  class="contact__h3 contact__h3--colorGreen">Redes Sociais</h3>                  
                    <%= link_to image_tag('facebook1.png', class: "contact__icons contact__icons--tamanho"), "https://www.facebook.com/7sightjr/", :target => '_blank' %>
                    <%= link_to image_tag('linkedin1.png', class: "contact__icons contact__icons--tamanho"),"https://www.linkedin.com/company/7sightjr/", :target => '_blank' %>
                    <%= link_to image_tag('instagram.png', class: "contact__icons contact__icons--tamanho"),"https://www.instagram.com/7sightjr/", :target => '_blank' %>
                </div>
            </div>
        </div>
    </div>
</section>