<section id="section-team">
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="team__h1">
                    <span>NOSSO </span>
                    <span class="team__h1--colorGreen">TIME</span>
                    </h1>
                </div>
            </div>
            <div class="team__flexContainer">
                <div class="team__flexCollum">
                    <%= image_tag 'jessica.jpg', class: 'team__img'%>
                    <h4 class="team__title">Jéssica Mazoni</h4>
                    <p class="team__position"> Presidente Institucional</p>
                    <div class="team__iconContainer">
                        <a href="https://pt-br.facebook.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'facebook.png', class: 'team__img'%>
                        </a>
                        <a href="https://br.linkedin.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'linkedin.png', class: 'team__img'%>
                        </a>
                    </div>
                </div>

                <div class="team__flexCollum">
                    <%= image_tag 'jessica.jpg', class: 'team__img'%>
                    <h4 class="team__title">Jéssica Mazoni</h4>
                    <p class="team__position"> Presidente Institucional</p>
                    <div class="team__iconContainer">
                        <a href="https://pt-br.facebook.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'facebook.png', class: 'team__img'%>
                        </a>
                        <a href="https://br.linkedin.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'linkedin.png', class: 'team__img'%>
                        </a>
                    </div>
                </div>

                <div class="team__flexCollum">
                    <%= image_tag 'jessica.jpg', class: 'team__img'%>
                    <h4 class="team__title">Jéssica Mazoni</h4>
                    <p class="team__position"> Presidente Institucional</p>
                    <div class="team__iconContainer">
                        <a href="https://pt-br.facebook.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'facebook.png', class: 'team__img'%>
                        </a>
                        <a href="https://br.linkedin.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'linkedin.png', class: 'team__img'%>
                        </a>
                    </div>
                </div>

                <div class="team__flexCollum">
                    <%= image_tag 'jessica.jpg', class: 'team__img'%>
                    <h4 class="team__title">Jéssica Mazoni</h4>
                    <p class="team__position"> Presidente Institucional</p>
                    <div class="team__iconContainer">
                        <a href="https://pt-br.facebook.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'facebook.png', class: 'team__img'%>
                        </a>
                        <a href="https://br.linkedin.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'linkedin.png', class: 'team__img'%>
                        </a>
                    </div>
                </div>

                <div class="team__flexCollum">
                    <%= image_tag 'jessica.jpg', class: 'team__img'%>
                    <h4 class="team__title">Jéssica Mazoni</h4>
                    <p class="team__position"> Presidente Institucional</p>
                    <div class="team__iconContainer">
                        <a href="https://pt-br.facebook.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'facebook.png', class: 'team__img'%>
                        </a>
                        <a href="https://br.linkedin.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'linkedin.png', class: 'team__img'%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>