<section id="section-team">
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="team__h1">
                    <span>NOSSO </span>
                    <span class="team__h1--colorGreen">TIME</span>
                    </h1>
                </div>
            </div>
            <div class="team__flexContainer">
                <div class="team__flexCollum">
                    <%= image_tag 'jessica.jpg', class: 'team__img'%>
                    <h4 class="team__title">Jéssica Mazoni</h4>
                    <p class="team__position">Presidente Institucional</p>
                    <div class="team__iconContainer">
                        <a href="https://www.facebook.com/jessica.mazoni.5" class="team__iconLink" target="_blank">
                            <%= image_tag 'facebook.png', class: 'team__img'%>
                        </a>
                        <a href="https://www.linkedin.com/in/jessicamazonimoura/" class="team__iconLink" target="_blank">
                            <%= image_tag 'linkedin.png', class: 'team__img'%>
                        </a>
                    </div>
                </div>

                <div class="team__flexCollum">
                    <%= image_tag 'alessandro.jpg', class: 'team__img'%>
                    <h4 class="team__title">Alessandro Melo</h4>
                    <p class="team__position">Líder de Operações</p>
                    <div class="team__iconContainer">
                        <a href="https://www.facebook.com/Alessandro0202" class="team__iconLink" target="_blank">
                            <%= image_tag 'facebook.png', class: 'team__img'%>
                        </a>
                        <a href="https://www.linkedin.com/in/alessandromelosilva/" class="team__iconLink" target="_blank">
                            <%= image_tag 'linkedin.png', class: 'team__img'%>
                        </a>
                    </div>
                </div>

                <div class="team__flexCollum">
                    <%= image_tag 'cleilson.jpg', class: 'team__img'%>
                    <h4 class="team__title">Cleilson Araújo</h4>
                    <p class="team__position">Líder de Gestão de Pessoas</p>
                    <div class="team__iconContainer">
                        <a href="https://www.facebook.com/cleilson.araujo.106" class="team__iconLink" target="_blank">
                            <%= image_tag 'facebook.png', class: 'team__img'%>
                        </a>
                        <a href="https://br.linkedin.com/" class="team__iconLink" target="_blank">
                            <%= image_tag 'linkedin.png', class: 'team__img'%>
                        </a>
                    </div>
                </div>

                <div class="team__flexCollum">
                    <%= image_tag 'carlos.jpg', class: 'team__img'%>
                    <h4 class="team__title">Carlos Henrique</h4>
                    <p class="team__position">Líder de Marketing</p>
                    <div class="team__iconContainer">
                        <a href="https://www.facebook.com/pradohenriquechp" class="team__iconLink" target="_blank">
                            <%= image_tag 'facebook.png', class: 'team__img'%>
                        </a>
                        <a href="https://www.linkedin.com/in/carlos-henrique-prado-98a042154/" class="team__iconLink" target="_blank">
                            <%= image_tag 'linkedin.png', class: 'team__img'%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>