<div style="font-family: arial;">	
	<div style="background-color: #333333; padding: 13px;">			
		<%= image_tag "https://sevensight.herokuapp.com/assets/logo-5329d259f9e6f8b6c0e528d914352db6c29cdf84fb4557758c292dcaa5172fba.png", :style => "width:325px;display: block;margin-left: auto;margin-right: auto;"  %>
		<h3 style="text-align: center;"><span style="color:#63d32f;" >> NOVO </span><span style="color:white;">CONTATO < </span></h3>
    </div>
	<div style="padding: 10px; border: 1px solid #63d32f; border-bottom-width: 3px; border-top-width: 3px;">
		<h2><span style="color:#63d32f;" >N</span><span style="color:#63d32f;">ome: </span></h2>
		<p><%= @name %></p>		 
		<h2><span style="color:#63d32f;" >E</span><span style="color:#63d32f;">mail: </span></h2>
		<p><%= @email %></p>		 
		<h2><span style="color:#63d32f;" >T</span><span style="color:#63d32f;">elefone: </span></h2>
		<p><%= @phone %></p> 
	</div>
	<div style="background-color: #333333; padding: 15px;">
		<h2><span style="color:#63d32f;" >M</span><span style="color:#63d32f;">ensagem: </span> </h2>
		<div style="color:white">
			<p><%= @message %></p>
		</div>
	</div>
</div>