<!DOCTYPE html>
<html>
  <head>
    <title>7Sight - Fábrica de Software</title>
    <%= favicon_link_tag 'icone.png' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>


  </body>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script>
    var scroll = new SmoothScroll('a[href*="#"]');
  </script>

  <script type="text/javascript">
    new TypeIt('#breakLines', {
      strings: ["Dar vida ao seu projeto", "é o nosso objetivo!"],
      speed: 58,
      waitUntilVisible: true
    }).go();
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      if($(document).scrollTop() > 10) {
          $('#nav').addClass('shrink');
        }
        else {
        $('#nav').removeClass('shrink');
        }
      $(window).scroll(function() {
        if($(document).scrollTop() > 10) {
          $('#nav').addClass('shrink');
        }
        else {
        $('#nav').removeClass('shrink');
        }
      });
    });
  </script>

</html>
